absl_py==1.4.0
beautifulsoup4
torch 
torchvision 
torchaudio
datasets
einops==0.6.1
elasticsearch==8.9.0
faiss-cpu
faiss-gpu
jsonlines==3.1.0
langdetect==1.0.9
matplotlib==3.7.2
more_itertools==10.1.0
numpy
pandarallel
pandas
pickle5
retriv
pytorch_lightning
pytorch_metric_learning==2.3.0
PyYAML==6.0.1
scikit_learn==1.3.0
scipy==1.11.2
sentencepiece==0.1.99
setuptools==68.0.0
spacy==3.6.1
tqdm==4.65.0
transformers
typing_extensions==4.7.1
zstandard==0.21.0